#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
Scenario.name = Epidemic_%%Group.queuePolicy%%_%%Group.bufferSize%%
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
Scenario.endTime = 43200

#===========================================================================
# INTERFACE SETTINGS
#===========================================================================
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 100
btInterface.scanInterval = 2

#===========================================================================
# GROUP SETTINGS
#===========================================================================
[ Group ]
Group.router = UniversalQueueRouter
Group.groupID = E

Group.bufferSize = [1M; 2M; 5M]
Group.queuePolicy = [FIFO; MOFO; SHLI]

Group.msgTtl = 3600
Group.nrofHosts = 50
Group.movementModel = RandomWaypoint
Group.speed = 1, 3
Group.waitTime = 0, 10

#===========================================================================
# EVENTS (KIRIM PESAN LEBIH INTENSIF)
#===========================================================================
[ Events ]
Events.nrof = 1

Events1.class = MessageEventGenerator
Events1.interval = 2, 5
Events1.size = 100k, 500k
Events1.hosts = 0, 49
Events1.prefix = M

#===========================================================================
# WORLD & REPORT SETTINGS
#===========================================================================
[ MovementModel ]
MovementModel.worldSize = 4510, 3410
MovementModel.rngSeed = 42

[ Report ]
Report.nrofReports = 1
Report.reportDir = reports/QueuePolicy/BatchResult/%%Group.queuePolicy%%/%%Group.bufferSize%%/
Report.report1 = MessageStatsReport