#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
# Batch hanya untuk 3 policy utama
Scenario.name = [universalDrop_FIFO ; universalDrop_SHLI ; universalDrop_MOFO]
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
Scenario.endTime = 274883
Report.warmup = 0
Scenario.nrofHostGroups = 1

[ Interfaces informations ]
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 100
# Scan interval diturunkan agar deteksi antar node lebih responsif
btInterface.scanInterval = 2

#===========================================================================
# GROUP CONFIGURATION
#===========================================================================
[ Group settings ]
Group.router = universalDropRouter
# Hanya menjalankan 3 policy yang diminta
Group.dropPolicy = [FIFO;SHLI;MOFO]

Group.bufferSize = 200k
Group.waitTime = 0, 120
Group.msgTtl = 300
Group.nrofInterfaces = 1
Group.interface1 = btInterface

[ Group1 Information ]
Group1.groupID = A
Group1.waitTime = 10, 30 
Group1.speed = 0.8, 1.4
Group1.nrofHosts = 41
Group1.nodeLocation = 10, 10
Group1.movementModel = RandomWaypoint

#===========================================================================
# EVENT CONFIGURATION
#===========================================================================
Events.nrof = 1
[ Message creation parameters ]
Events1.class = MessageEventGenerator
# Interval diperkecil sedikit agar beban traffic cukup untuk mengisi buffer
Events1.interval = 100, 200 
Events1.size = 10k
Events1.hosts = 0, 40
Events1.prefix = M

[ Movement model settings ]
MovementModel.rngSeed = 1
# World size disesuaikan dengan koordinat mapmu
MovementModel.worldSize = 4500, 3400
MovementModel.warmup = 1000

#===========================================================================
# Reports Informations
#===========================================================================
Report.nrofReports = 1
# Folder output otomatis terbagi sesuai policy
Report.reportDir = [reports/dropPolicyComparisonver2/SP/FIFO ; reports/dropPolicyComparisonver2/SP/SHLI ; reports/dropPolicyComparisonver2/SP/MOFO]
Report.report1 = MessageStatsReport