#===========================================================================
# CONFIG 2: EPIDEMIC + MOFO (RANDOM WAY POINT)
#===========================================================================
Scenario.name = Epidemic_MOFO_RWP
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
Scenario.endTime = 43200

# Interface Settings
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 20

# Group Settings
Group.nrofHosts = 50
Group.bufferSize = 2M
Group.waitTime = 10, 50
Group.speed = 1.0, 3.0
Group.msgTtl = 120

# --- ROUTER & POLICY ---
Group.router = EpidemicWQueueingPolicy
Group.queuePolicy = MOFO

# --- MOVEMENT: RandomWayPoint ---
Group.movementModel = RandomWayPoint
MovementModel.worldSize = 1000, 1000

# Event Generator
Events.nrof = 1
Events1.class = MessageEventGenerator
Events1.interval = 15,30
Events1.size = 100k,500k
Events1.hosts = 0,49

# Report
Report.reportDir = reports/QueuePolicy/ver2/EpidemicMOFO_RWP
Report.nrofReports = 1
Report.report1 = MessageStatsReport