#===========================================================================
# 1. SCENARIO
#===========================================================================
[ Scenario ]
Scenario.name = Task_No2_ExternalEvents
Scenario.simulateConnections = true
Scenario.updateInterval = 1
Scenario.endTime = 43200
Scenario.nrofHostGroups = 1

#===========================================================================
# 2. MAP SETTINGS
#===========================================================================
MapBasedMovement.nrofMapFiles = 4
MapBasedMovement.mapFile1 = data/spatial/roads.wkt
MapBasedMovement.mapFile2 = data/spatial/main_roads.wkt
MapBasedMovement.mapFile3 = data/spatial/pedestrian_paths.wkt
MapBasedMovement.mapFile4 = data/spatial/shops.wkt

MapBasedMovement.filterDeadEnds = true
MapBasedMovement.ignoreMoveUps = true

#===========================================================================
# 3. INTERFACE
#===========================================================================
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10

#===========================================================================
# 4. GROUP SETTINGS (ID 0-999)
#===========================================================================
[ Group ]
Group.groupID = n
Group.nrofHosts = 1000
Group.router = EpidemicRouter
Group.bufferSize = 100M
Group.nrofInterfaces = 1
Group.interface1 = btInterface

Group.movementModel = MapBasedMovement
Group.okMaps = 1, 2, 3

Group.waitTime = 0, 50
Group.speed = 0.5, 1.5
Group.msgTtl = 1440

#===========================================================================
# 5. EXTERNAL EVENTS
#===========================================================================
[ Events ]
Events.nrof = 2

# Event 1: External Reader (StandardEventsReader.java)
Events1.class = ExternalEventsReader
Events1.filePath = data/events/700_events_1000_nodes_700ks.txt
Events1.nrofPreload = 500

# Event 2: Generator (EventQueue Interface)
Events2.class = MessageEventGenerator
Events2.interval = 500, 1000
Events2.size = 100k, 500k
Events2.hosts = 0, 999
Events2.prefix = GEN_AUTO

#===========================================================================
# 6. WORLD
#===========================================================================
[ MovementModel ]
MovementModel.worldSize = 10000, 8000
MovementModel.warmup = 1000

[ Report ]
Report.nrofReports = 2
Report.reportDir = reports/Task_No2_Final/
Report.report1 = MessageStatsReport
Report.report2 = MessageEventSplitReport