#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
[ Scenario ]
Scenario.name = Task_No3_Haggle4_PeopleRank
Scenario.simulateConnections = true
Scenario.updateInterval = 1
Scenario.endTime = 700k
Scenario.nrofHostGroups = 1

#===========================================================================
# INTERFACE & OPTIMIZATION
#===========================================================================
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10

Optimization.connectionAlg = 2

#===========================================================================
# GROUP SETTINGS
#===========================================================================
[ Group ]
Group.groupID = n
Group.nrofHosts = 36
Group.router = DecisionEngineRouter
Group.bufferSize = 100M
Group.nrofInterfaces = 1
Group.interface1 = btInterface

Group.movementModel = StationaryMovement
Group.nodeLocation = 0,0

Group.msgTtl = 1440

#===========================================================================
# EVENTS
#===========================================================================
[ Events ]
Events.nrof = 2

Events1.class = ExternalEventsReader
Events1.filePath = data/events/Haggle4-Cam-Imote.csv

Events2.class = MessageEventGenerator
Events2.interval = 100, 300
Events2.size = 100k, 500k
Events2.hosts = 0, 35
Events2.prefix = HAG_MSG

#===========================================================================
# PEOPLE RANK SETTINGS
#===========================================================================
[ DecisionEngineRouter ]
DecisionEngineRouter.decisionEngine = decisionengine.PeopleRank
PeopleRank.dampingFactor = 0.85

#===========================================================================
# WORLD & REPORT SETTINGS
#===========================================================================
[ MovementModel ]
# World size tetap perlu didefinisikan secara formal
MovementModel.worldSize = 5000, 5000
MovementModel.warmup = 0

[ Report ]
Report.nrofReports = 4
Report.reportDir = reports/Task_No3_Haggle4_PeopleRank/

Report.report1 = MessageStatsReport
Report.report2 = MessageEventSplitReport
Report.report3 = ContactAndMessageReport
Report.report4 = MessageTraceExcelReport