
#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
[ Scenario ]
Scenario.name = SnW_Seed%%MovementModel.rngSeed%%_Copies%%SprayAndWaitRouter.nrofCopies%%-%%
Scenario.simulateConnections = true
Scenario.updateInterval = 1
# 700k seconds (~8.1 days)
Scenario.endTime = 700k
Scenario.nrofHostGroups = 6

#===========================================================================
# GROUP SPECIFIC SETTINGS
#===========================================================================
[ Group specific parameters' descriptions ]
# groupID       : Group's identifier
# nrofHosts     : number of hosts in the group
# movementModel : movement model class
# waitTime      : min and max wait times (seconds)
# speed         : min and max speeds (m/s)
# bufferSize    : message buffer size (bytes)
# router        : router class name

# [ Common settings (for all groups) ]
# Group.movementModel = RandomWaypoint 
# Group.router = SprayAndWaitRouter
# Group.bufferSize = 100M
# Group.transmitRange = 10
# Group.transmitSpeed = 100k              # Transmit speed of 100 kBps
# Group.waitTime = 0, 0
# Group.speed = 0.5, 1.5
# Group.msgTtl = 1433
# Group.nrofHosts = 40

# [ WorkingDayMovement specific settings ]
# Group.nrOfOffices = 20
# Group.workDayLength = 28800             # 8 hours
# Group.probGoShoppingAfterWork = 0.5
# Group.nrOfMeetingSpots = 2
# Group.officeWaitTimeParetoCoeff = 0.5
# Group.officeMinWaitTime = 10
# Group.officeMaxWaitTime = 100000
# Group.officeSize = 100
# Group.timeDiffSTD = 7200                # 2 hours
# Group.minGroupSize = 1
# Group.maxGroupSize = 3
# Group.minAfterShoppingStopTime = 3600   # 1 hour
# Group.maxAfterShoppingStopTime = 7200   # 2 hours

# [ Group 1 (Buses) ]
# Group1.groupID = BUSS
# Group1.speed = 7, 10
# Group1.waitTime = 10, 30
# Group1.nrofHosts = 2
# Group1.movementModel = BusMovement
# Group1.routeFile = data/spatial/demo_bus.wkt
# Group1.routeType = 2
# Group1.busControlSystemNr = 8

# [ Group 2 (Normal nodes) ]
# Group2.groupID = n
# Group2.waitTime = 0, 0 
# Group2.nrofHosts = 122
# Group2.movementModel = WorkingDayMovement
# Group2.busControlSystemNr = 8
# Group2.speed = 0.8, 1.4
# Group2.ownCarProb = 0.2
# Group2.shoppingControlSystemNr = 8
# Group2.nrOfOffices = 20
# Group2.nrOfMeetingSpots = 2

# [ Group 3 (Special nodes) ]
# Group3.groupID = T
# Group3.movementModel = ShortestPathMapBasedMovement
# Group3.waitTime = [100, 300; 200, 400]
# Group3.speed = 7, 10
# Group3.nrofHosts = 2

# [ Group 4 (pedestrian) ]
# Group4.groupID = p
# Group4.nrofHosts = 64

[ Common settings (for all groups) ]
Group.movementModel = RandomWaypoint
Group.router = DecisionEngineRouter             # by default, uses EpidemicRouter for this setting
Group.bufferSize = 5M
Group.waitTime = 0, 120

Group.nrofInterfaces = 1                    # all nodes have the 1 interface
Group.interface1 = btInterface              # all nodes uses bluetooth interface
Group.speed = 0.5, 1.5                      # walking speeds (range)
Group.msgTtl = 300                          # message TTL of 300 minutes (5 hours)
Group.nrofHosts = 40

[ Group 1 (pedestrian) ]
Group1.groupID = p
Group1.nrofHosts = 120

[ Group 2 (cars) ]
Group2.groupID = c
Group2.okMaps = 1                           # drive only on MapBasedMovement.mapFile1 route
Group2.speed = 2.7, 13.9                    # 10-50 km/h
Group2.nrofHosts = 50

[ Group 3 (other) ]
Group3.groupID = w
Group3.nrofHosts = 24

[ Group 4 (trams) ]
Group4.groupID = t
Group4.bufferSize = 50M
# Group4.movementModel = MapRouteMovement     # specify movement
Group4.routeFile = data/spatial/tram3.wkt   # param route file for MapRouteMovement
Group4.routeType = 1                        # param for MapRouteMovement
Group4.waitTime = 10, 30
Group4.speed = 7, 10
Group4.nrofHosts = 2
Group4.nrofInterfaces = 2
Group4.interface1 = btInterface
Group4.interface2 = highspeedInterface

[ Group 5 (trams) ]
Group5.groupID = t
Group5.bufferSize = 50M
# Group5.movementModel = MapRouteMovement
Group5.routeFile = data/spatial/tram4.wkt
Group5.routeType = 2
Group5.waitTime = 10, 30
Group5.speed = 7, 10
Group5.nrofHosts = 2

[ Group 6 (trams) ]
Group6.groupID = t
Group6.bufferSize = 50M
# Group6.movementModel = MapRouteMovement
Group6.routeFile = data/spatial/tram10.wkt
Group6.routeType = 2
Group6.waitTime = 10, 30
Group6.speed = 7, 10
Group6.nrofHosts = 2

#===========================================================================
# MOVEMENT SETTINGS
#===========================================================================
[ Movement model settings ]
# seed for movement models' pseudo random number generator
MovementModel.rngSeed = [2; 8372]
# MovementModel.rngSeed = [2; 8372; 98092; 18293; 777]
# World's size (width, height; meters)
MovementModel.worldSize = 10000, 8000
# Warmup period (seconds)
MovementModel.warmup = 43000

[ Map based movement settings ]
MapBasedMovement.nrofMapFiles = 2
MapBasedMovement.mapFile1 = data/spatial/roads.wkt
MapBasedMovement.mapFile2 = data/spatial/main_roads.wkt

#===========================================================================
# REPORT SETTINGS
#===========================================================================
[ General ]
Report.nrofReports = 2
Report.warmup = 0
Report.reportDir = [reports/Demo/1; reports/Demo/2]

[ Reports ]
Report.report1 = MessageStatsReport 
Report.report2 = MessageStatsReport

Events1.hosts = 0, 200
#===========================================================================
# ROUTER SETTING
#===========================================================================
[ ProphetRouter ]
ProphetRouter.secondsInTimeUnit = 30

[ SprayAndWaitRouter ]
SprayAndWaitRouter.nrofCopies = [6 ; 20]
SprayAndWaitRouter.binaryMode = true

[ DecisionEngineRouter ]
DecisionEngineRouter.decisionEngine = decisionengine.SnWWithRoutingDecisionEngine
DecisionEngineRouter.decisionEngine.nrofCopies = [6 ; 20]
DecisionEngineRouter.tombstones = false

#===========================================================================
# OPTIMIZATION SETTINGS
#===========================================================================
[ Optimization ]
Optimization.connectionAlg = 2
Optimization.cellSizeMult = 5
Optimization.randomizeUpdateOrder = true

#===========================================================================
# GUI SETTINGS
#===========================================================================
[ GUI underlay image settings ]
GUI.UnderlayImage.fileName = data/spatial/shelsinki_underlay.png
GUI.UnderlayImage.offset = 64, 20
GUI.UnderlayImage.scale = 4.75
GUI.UnderlayImage.rotate = -0.015

[ GUI event log ]
GUI.EventLogPanel.nrofEvents = 200

#===========================================================================
# EXTERNAL EVENTS SETTINGS
#===========================================================================
[ External events ]
ExternalEvents.nrofPreload = 500
# ExternalEvents.filePath = ee/700_events_1000_nodes_700ks.txt