#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
[ Scenario ]
Scenario.name = RouterDropShortestTTL_RandomWaypoint
Scenario.simulateConnections = true
Scenario.updateInterval = 1
Scenario.endTime = 274883
Scenario.nrofHostGroups = 1

#===========================================================================
# Interface SETTINGS 
#===========================================================================
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 20
btInterface.scanInterval = 120

#===========================================================================
# GROUP SETTINGS 
#===========================================================================
[ Group ]
Group1.router = RouterDropShortestTTL
Group1.groupID = E
Group1.nrofHosts = 41
Group1.bufferSize = 20M
Group1.msgTtl = 1440
Group1.nrofInterfaces = 1
Group1.interface1 = btInterface

Group.movementModel = RandomWaypoint
Group1.speed = 0.8, 1.4
Group1.waitTime = 10, 30

#===========================================================================
# Events
#===========================================================================
[ Events ]
Events.nrof = 1

# Event 1
Events1.class = MessageEventGenerator
Events1.interval = 100, 300
Events1.size = 100k, 500k
Events1.hosts = 0, 40
Events1.prefix = RW_E_MSG

#===========================================================================
# WORLD & REPORT SETTINGS
#===========================================================================
[ MovementModel ]
MovementModel.worldSize = 1000, 1000
# MovementModel.rngSeed = [2; 8372; 98092; 18293; 777]
MovementModel.warmup = 1

[ Report ]
Report.nrofReports = 1
Report.reportDir = reports/ReportSHLI
Report.report1 = MessageStatsReport