#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
[ Scenario ]
Scenario.name = BubbleRapCheckReality-Seed:%%MovementModel.rngSeed%%
Scenario.simulateConnections = false
Scenario.updateInterval = 1
Scenario.endTime = 274883
Scenario.nrofHostGroups = 1

#===========================================================================
# Interface SETTINGS 
#===========================================================================
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 20
btInterface.scanInterval = 120

#===========================================================================
# GROUP SETTINGS 
#===========================================================================
[ Group ]
Group1.router = ProphetRouter
Group1.groupID = PE
Group1.nrofHosts = 97
Group1.bufferSize = 5M
Group1.nrofInterfaces = 1
Group.msgTtl = 300
Group1.interface1 = btInterface

Group.movementModel = StationaryMovement
Group.nodeLocation = 500,500

#===========================================================================
# Prophet Settings
#===========================================================================
ProphetRouter.secondsInTimeUnit = 30

#===========================================================================
# (HAGGLE)
#===========================================================================
[ Events ]
Events.nrof = 2

# Event 1: Trace Koneksi
Events1.class = ExternalEventsReader
Events1.filePath = data/events/RealityConnectionTraceFinal.txt

# Event 2: Pembuat Pesan
Events2.class = MessageEventGenerator
Events2.interval = 100, 300
Events2.size = 100k, 500k
Events2.hosts = 0, 96
Events2.prefix = HAG_P_MSG

#===========================================================================
# WORLD & REPORT SETTINGS
#===========================================================================
[ MovementModel ]
MovementModel.worldSize = 1000, 1000
MovementModel.rngSeed = [2; 8372; 98092; 18293; 777]
MovementModel.warmup = 1

[ Report ]
Report.nrofReports = 1
Report.reportDir = reports/ProphetvsEpidemic_Ver3/RWP_Reality/ProphetReality
Report.report1 = MessageStatsReport