[ Scenario ]
Scenario.name = Epidemic_Reality-Seed:%%MovementModel.rngSeed%%
Scenario.simulateConnections = false
Scenario.updateInterval = 0.1
Scenario.endTime = 274883
Scenario.nrofHostGroups = 1

MovementModel.rngSeed = [2; 8372; 98092; 18293; 777]
MovementModel.worldSize = 1000, 1000

# Group Settings
Group1.groupID = ER
Group1.nrofHosts = 97
Group1.bufferSize = 5M
Group.msgTtl = 300
Group1.nrofInterfaces = 1
Group1.interface1 = btInterface
Group1.router = EpidemicRouter

Group1.movementModel = StationaryMovement
Group1.nodeLocation = 500,500

Events.nrof = 2
Events1.class = ExternalEventsQueue
Events1.filePath = data/events/RealityConnectionTraceFinal.txt
Events1.nrofPreload = 500

Events2.class = MessageEventGenerator
Events2.interval = 100, 300
Events2.size = 100k, 500k
Events2.hosts = 0, 96
Events2.prefix = M_RC_E

Report.reportDir = reports/ProphetvsEpidemic_Ver3/RWP_Reality/EpidemicReality
Report.report1 = MessageStatsReport
