[ Scenario ]
Scenario.name = Epidemic_Hagglever2-Seed:%%MovementModel.rngSeed%%
Scenario.simulateConnections = false
Scenario.updateInterval = 0.1
Scenario.endTime = 274883
Scenario.nrofHostGroups = 1

MovementModel.rngSeed = [2; 8372; 98092; 18293; 777]
MovementModel.worldSize = 1000, 1000

# Group Settings
Group1.groupID = EH
Group1.nrofHosts = 41
Group1.bufferSize = 20M
Group1.msgTtl = 1440
Group1.nrofInterfaces = 1
Group1.interface1 = btInterface
Group1.router = EpidemicRouter

Group1.movementModel = StationaryMovement
Group1.nodeLocation = 500,500

Events.nrof = 2
Events1.class = ExternalEventsQueue
Events1.filePath = data/events/Haggle3.txt
Events1.nrofPreload = 500

Events2.class = MessageEventGenerator
Events2.interval = 100, 300
Events2.size = 100k, 500k
Events2.hosts = 0, 40
Events2.prefix = M_HG_E

Report.reportDir = reports/ProphetvsEpidemic_Ver2/Haggle_Epidemic/500_500
Report.report1 = MessageStatsReport