#===========================================================================
# CONFIG 1: EPIDEMIC + SHLI (MAP BASED)
#===========================================================================
Scenario.name = Epidemic_SHLI_RWP
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
Scenario.endTime = 43200

# Interface Settings
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10

# Group Settings
Group.nrofHosts = 50
Group.bufferSize = 2M
Group.waitTime = 0, 120
Group.speed = 0.5, 1.5
Group.msgTtl = 60

# --- ROUTER & POLICY ---
Group.router = EpidemicWQueueingPolicy
Group.queuePolicy = SHLI

# --- MOVEMENT: ShortestPathMapBasedMovement ---
Group.movementModel = RandomWayPoint
MovementModel.worldSize = 1000, 1000

# Event Generator
Events.nrof = 1
Events1.class = MessageEventGenerator
Events1.interval = 20,40
Events1.size = 500k,1M
Events1.hosts = 0,49
Events1.prefix = M

# Report
Report.reportDir = reports/QueuePolicy/ver2/EpidemicSHLI_RWP
Report.nrofReports = 1
Report.report1 = MessageStatsReport