#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
Scenario.name = EpidemicRSHLI_RandomWaypoint-BufferSize:%%Group.bufferSize%%
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
# 43200s == 12h
Scenario.endTime = 43200

#===========================================================================
# GROUP SETTINGS 
#===========================================================================
[ Group ]
Group.Router = EpidemicWQueuePolicy
Group.bufferSize = [300k; 800k; 2M]
Group.queuePolicy = RSHLI

#===========================================================================
# Events
#===========================================================================
[ Events ]
Events.nrof = 1

# Event 1
Events1.class = MessageEventGenerator
Events1.interval = 25,35
Events1.size = 100k, 500k
Events1.prefix = M

#===========================================================================
# REPORT SETTINGS
#===========================================================================
[ General ]
Report.nrofReports = 1
Report.warmup = 0
Report.reportDir = reports/QueuePolicy/RSHLI/Epidemic/RandomWaypoint

[ Reports ]
# Report classes to load
Report.report1 = MessageStatsReport