#===========================================================================
# SCENARIO CONFIGURATION
#===========================================================================
Scenario.name = Prophet_%%Group.forwardingPolicy%%_%%Group.queuePolicy%%
Scenario.simulateConnections = true
Scenario.updateInterval = 0.1
Scenario.endTime = 43200
Report.warmup = 0
Scenario.nrofHostGroups = 6

#===========================================================================
# INTERFACE SETTINGS
#===========================================================================
[ "Bluetooth" interface for all nodes ]
btInterface.type = SimpleBroadcastInterface
btInterface.transmitSpeed = 250k
btInterface.transmitRange = 10

[ High speed, long range, interface for trams ]
highspeedInterface.type = SimpleBroadcastInterface
highspeedInterface.transmitSpeed = 10M
highspeedInterface.transmitRange = 1000

#===========================================================================
# ROUTING & BATCH PARAMETERS
#===========================================================================
[ Group ]
Group.router = ProphetForwardingQueuePolicy

Group.forwardingPolicy = [GRTRMAX; GRTRSORT; GRTR; COIN]
Group.queuePolicy = [FIFO; MOFO; SHLI]
Group.coinProbability = 0.5

ProphetRouter.secondsInTimeUnit = 30
ProphetRouter.beta = 0.25

Group.movementModel = ShortestPathMapBasedMovement
Group.bufferSize = 5M
Group.waitTime = 0, 120
Group.nrofInterfaces = 1
Group.interface1 = btInterface
Group.speed = 0.5, 1.5
Group.msgTtl = 300
Group.nrofHosts = 40

#===========================================================================
# SPECIFIC GROUP SETTINGS
#===========================================================================
[ Group 1 (Pejalan Kaki) ]
Group1.groupID = p

[ Group 2 (Mobil) ]
Group2.groupID = c
Group2.okMaps = 1
Group2.speed = 2.7, 13.9

[ Group 3 (Lain-lain) ]
Group3.groupID = w

[ Group 4 (Trem Rute 3) ]
Group4.groupID = t
Group4.bufferSize = 50M
Group4.movementModel = MapRouteMovement
Group4.routeFile = data/spatial/tram3.wkt
Group4.routeType = 1
Group4.waitTime = 10, 30
Group4.speed = 7, 10
Group4.nrofHosts = 2
Group4.nrofInterfaces = 2
Group4.interface1 = btInterface
Group4.interface2 = highspeedInterface

[ Group 5 (Trem Rute 4) ]
Group5.groupID = t
Group5.bufferSize = 50M
Group5.movementModel = MapRouteMovement
Group5.routeFile = data/spatial/tram4.wkt
Group5.routeType = 2
Group5.waitTime = 10, 30
Group5.speed = 7, 10
Group5.nrofHosts = 2

[ Group 6 (Trem Rute 10) ]
Group6.groupID = t
Group6.bufferSize = 50M
Group6.movementModel = MapRouteMovement
Group6.routeFile = data/spatial/tram10.wkt
Group6.routeType = 2
Group6.waitTime = 10, 30
Group6.speed = 7, 10
Group6.nrofHosts = 2

#===========================================================================
# MOVEMENT & MAP SETTINGS
#===========================================================================
MovementModel.rngSeed = 1
MovementModel.worldSize = 4500, 3400
MovementModel.warmup = 1000

MapBasedMovement.nrofMapFiles = 4
MapBasedMovement.mapFile1 = data/spatial/roads.wkt
MapBasedMovement.mapFile2 = data/spatial/main_roads.wkt
MapBasedMovement.mapFile3 = data/spatial/pedestrian_paths.wkt
MapBasedMovement.mapFile4 = data/spatial/shops.wkt

#===========================================================================
# EVENT CONFIGURATION
#===========================================================================
Events.nrof = 1

[ Events 1 ]
Events1.class = MessageEventGenerator
Events1.interval = 25, 35
Events1.size = 500k, 1M
Events1.hosts = 0, 125
Events1.prefix = M

#===========================================================================
# REPORTS SETTINGS
#===========================================================================
Report.nrofReports = 1
Report.reportDir = reports/Batch12_Helsinki/%%Group.forwardingPolicy%%_%%Group.queuePolicy%%
Report.report1 = MessageStatsReport

#===========================================================================
# OPTIMIZATION & GUI SETTINGS
#===========================================================================
Optimization.cellSizeMult = 5
Optimization.randomizeUpdateOrder = true

GUI.UnderlayImage.fileName = data/spatial/helsinki_underlay.png
GUI.UnderlayImage.offset = 64, 20
GUI.UnderlayImage.scale = 4.75
GUI.UnderlayImage.rotate = -0.015
GUI.EventLogPanel.nrofEvents = 100